{
  "mcpServers": {
    "julia-repl": {
      "type": "streamable-http",
      "url": "http://localhost:{{port}}",
      {% if has_api_key %}
      "headers": {
        "Authorization": "{{api_key}}",
        "X-MCPRepl-Target": "{{repl_id}}"
      },
      {% else %}
      "headers": {
        "X-MCPRepl-Target": "{{repl_id}}"
      },{% end %}
      "alwaysAllow": [
                  {{tool_list}}
      ],
      "disabled": false
    }
  }
}